<!DOCTYPE html>
<html>
<head>
    <title>Completed & Pending Training Report</title>
</head>
<body>
    <div style="width: 100%;margin:auto;margin-top:20px; max-width: 800px; border: 1px solid black; padding: 10px; font-family: Arial, sans-serif;">
        <div style="margin-bottom: 5px;">
            <span style="font-weight: bold;">Training Type : </span>SOP<br>
            <span style="font-weight: bold;">Training No : </span>SOP002<br>
            <span style="font-weight: bold;">Training Version: </span>3.0<br>
            <span style="font-weight: bold;">Training Title: </span>Standard Operating Procedure
        </div>
        
        <div style="text-align: center; margin: 15px 0; font-weight: bold; text-decoration: underline;">
            Completed & Pending Training Report
        </div>
        
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black;">
            <tr>
                <th style="border: 1px solid black; padding: 5px; text-align: center; font-weight: bold;">Sr.<br>No.:</th>
                <th style="border: 1px solid black; padding: 5px; text-align: center; font-weight: bold;">Emp No.:</th>
                <th style="border: 1px solid black; padding: 5px; text-align: center; font-weight: bold;">Employee Name:</th>
                <th style="border: 1px solid black; padding: 5px; text-align: center; font-weight: bold;">Department:</th>
                <th style="border: 1px solid black; padding: 5px; text-align: center; font-weight: bold;">Last Conduct Date:</th>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">1</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">2</td>
                <td style="border: 1px solid black; padding: 5px;">Krunal Patel</td>
                <td style="border: 1px solid black; padding: 5px;">Quality Assurance</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">09-03-2023</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">2</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">3</td>
                <td style="border: 1px solid black; padding: 5px;">Sanyam Mehta</td>
                <td style="border: 1px solid black; padding: 5px;">Quality Assurance</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">09-03-2023</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">3</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">4</td>
                <td style="border: 1px solid black; padding: 5px;">Disha Soni</td>
                <td style="border: 1px solid black; padding: 5px;">Quality Assurance</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">22-02-2023</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">4</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">QQ2</td>
                <td style="border: 1px solid black; padding: 5px;">Khyati Shah</td>
                <td style="border: 1px solid black; padding: 5px;">Quantity Assurance High</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">22-02-2023</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">5</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">QQ7</td>
                <td style="border: 1px solid black; padding: 5px;">Umang Shah</td>
                <td style="border: 1px solid black; padding: 5px;">Quantity Assurance High</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">28-02-2023</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">6</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">ALPL2762</td>
                <td style="border: 1px solid black; padding: 5px;">Gurpal Singh</td>
                <td style="border: 1px solid black; padding: 5px;">Quantity Assurance High</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">28-02-2023</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">7</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">--</td>
                <td style="border: 1px solid black; padding: 5px;">Kruti Shah</td>
                <td style="border: 1px solid black; padding: 5px;">Quality Assurance</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">--</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">8</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">CH4648</td>
                <td style="border: 1px solid black; padding: 5px;">Chrissy Barrow</td>
                <td style="border: 1px solid black; padding: 5px;">Quantity Assurance High</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">--</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">9</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">R4646</td>
                <td style="border: 1px solid black; padding: 5px;">Roy Jabson</td>
                <td style="border: 1px solid black; padding: 5px;">Quantity Assurance High</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">--</td>
            </tr>
        </table>
    </div>
</body>
</html>